<h1 class="mt-3">Selectores anidaos</h1>
<hr />

<div class="row">
  <div class="col">
    <form [formGroup]="miFormulario">
      <!-- Campo -->
      <div class="col-12">
        <label class="form-label">Continente</label>
        <select formControlName="continente" class="form-select">
          <option value="">-- Seleccione el Continente --</option>
          <option
            *ngFor="let continente of continentes"
            [value]="continente | lowercase"
          >
            {{ continente }}
          </option>
        </select>
      </div>
      <!-- Campo -->
      <div class="col-12 mt-2" *ngIf="paises.length > 0">
        <label class="form-label">País</label>
        <select formControlName="pais" class="form-select">
          <option value="">-- Seleccione el País --</option>
          <option *ngFor="let pais of paises" [value]="pais.cca3">
            {{ pais.name.common }}
          </option>
        </select>
      </div>
      <!-- Campo -->
      <div class="col-12 mt-2" *ngIf="fronteras.length > 0">
        <label class="form-label">Fronteras</label>
        <select formControlName="frontera" class="form-select">
          <option value="">-- Seleccione la Frontera --</option>
          <option *ngFor="let frontera of fronteras" [value]="frontera.cca3">
            {{ frontera.name.common }}
          </option>
        </select>
      </div>
      <!-- Loader -->
      <div *ngIf="loading" class="col-12 mt-3 text-center">
        <div class="input-group-text spinner-border" role="status"></div>
      </div>
      <!-- Botón -->
      <div class="col-12 mt-3">
        <button
          class="btn btn-primary float-end"
          type="button"
          (click)="guardar()"
        >
          <i class="bi bi-globe-americas"></i>
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>

<div class="row mt-4">
  <h5>Formulario</h5>
  <div class="col">
    <label class="form-label">Valid</label>
    <pre>{{ miFormulario.valid | json }}</pre>
  </div>
  <div class="col">
    <label class="form-label">Status</label>
    <pre>{{ miFormulario.status | json }}</pre>
  </div>
  <div class="col">
    <label class="form-label">Value</label>
    <pre>{{ miFormulario.value | json }}</pre>
  </div>
</div>
